@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Space+Mono&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}

h2, p, figcaption, h3 {
    text-align: center;
}

.NavBar {
    text-align: center;
}

.NavBar li {
    display: inline-flex;
    border: solid 1px white;
    background-color: black;
    padding: 10px;
    text-align: center;
}


a:link, a:visited, a:active {
    text-decoration: none;
}

.NavBar a:hover {
    text-decoration: none;
    opacity: 0.7;
}
 
body {
    background-image: url(./Images/background.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

main {
    border: solid 3px white;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.8);
    margin: 10px;
}

.topButton {
    --offset: 50px; 
  
    position: sticky;
    bottom: 20px;      
    margin-right: 10px; 
    margin-left: 10px;
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background-image: linear-gradient(to bottom right, #fa7e1e, #d62976, purple, royalblue);
    border-radius: 5px;
    white-space: nowrap;
    border: solid 1px white;
    opacity: 0.6;
}

.topButton:hover {
    opacity: 1;
}

#introduction {
    position: relative;
    top: 10px;
}

.button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 5px;
}

#titleimage {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

 #titleimage h2, h3 {
    background-color: rgb(0, 0, 0, 0.8);
    border: solid 2px white;
    border-radius: 3px;
    padding: 5px 10px;
    text-decoration: none;
    margin: 10px auto;
    width: 30%;
}


.caption {
    background-color: rgb(75, 74, 74);
    border: solid 1px white;
    border-radius: 3px;
    padding: 5px 10px;
    text-decoration: none;
    margin: 5px auto;
    width: 50%;
    font-size: 10px;
}


img {
    border: solid 1px white;
    border-radius: 5px;
}

#portfolio {
    text-align: center;
    margin: 10px auto;
}

#portfolio figure {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
}

#portfolio img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 15%;
}


#introduction p {
    text-align: justify;
    padding: 10px 20px;
    line-height: 1.5;
}

#linkgallery {
    position: relative;
    top: 20px;
    padding: 10px;
}

.fa {
    padding-top: 30px;
    font-size: 30px;
    width: 140px;
    height: 110px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 50%;
    border: solid 1px white;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #00acee;
    color: white;
}

.fa-linkedin {
    background: #0077b5;
    color: white;
}

.fa-instagram {
    background-image: linear-gradient(to bottom right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    color: white;

}

.fa-github {
    background: #171515;
    color: white;
}

#helpfulLinks a {
    font-size: 30px;
    padding-top: 40px;
    width: 110px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 50%;
}

#helpfulLinks li {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

#helpfulLinks li:hover {
    opacity: 0.7;
}

.fa-m {
    background-image: linear-gradient(to bottom right, black, rgb(31, 29, 29), rgb(59, 59, 59));
    color: white;
    border: solid 1px white;
}

.fa-css3 {
    background-image: linear-gradient(to bottom right, rgb(64, 59, 59), rgb(155, 48, 66), rgba(212, 120, 7, 0.677), orange);
    color: white;
    border: solid 1px white;
}

.fa-stack-overflow {
    background-image: linear-gradient(to bottom right, rgb(19, 140, 205), rgb(195, 165, 110), rgb(143, 36, 36));
    color:white;
    border: solid 1px white;
}

.fa-dev {
    background-image: linear-gradient(to bottom right, rgb(64, 59, 59), rgb(155, 48, 66), rgba(212, 120, 7, 0.677), orange);;
    color: white;
    border: solid 1px white;
}

.fa-laptop-code {
    background-image: linear-gradient(to bottom right, rgb(11, 11, 108), rgb(11, 11, 192), rgb(35, 117, 211));
    color: white;
    border: solid 1px white;
}


#socials {
    position: relative;
    top: 10px;
    margin: 20px auto;
    text-align: center;

}

#socials .linkLabel {
    display:block;
    margin-top: 10px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    border: solid 1px white;
    border-radius: 3px;
    padding: 2px;
    
}

#socials li {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

#helpfulLinks {
    position: relative;
    top: 10px;
    margin: 20px auto;
    text-align: center;

}

#helpfulLinks .linkLabel {
    display:block;
    margin-top: 10px;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    border: solid 1px white;
    border-radius: 3px;
    padding: 2px;
}